.dash-sidebar-container {
  position: fixed;
  background-color: var(--BG-SIDEBAR-LIGHT);
  top: 50px;
  height: 100%;
  width: 275px;
  padding: 1em;
  border-right: 1px solid var(--BORDER-COLOR);
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.dash-sidebar-container-minimized {
  position: fixed;
  background-color: var(--color-one);
  top: 50px;
  height: 100%;
  width: 25px;
  padding: 1em;
  border-right: 1px solid var(--BORDER-COLOR);
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.welcome-header-text {
  font-size: 2em;
  color: var(--TEXT-DARK);
}

.sidebar-links {
  font-size: 1.4em;
  /* padding-top: 50px; */
  display: inline;
}

.sidebar-links:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 0.125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  transition: background-color 0.75s;
}

.welcome-today-text {
  width: 225px;
  color: var(--TEXT-DARK);
}

.sidebar-icon {
  color: white;
  width: 30px;
  height: 30px;
}
