.dash-sidebar-container {
  position: fixed;
  background-color: var(--color-one);
  top: 50px;
  height: 100%;
  width: 275px;
  padding: 1em;
  border-right: 1px solid var(--BORDER-COLOR);
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.dash-sidebar-container-minimized {
  position: fixed;
  background-color: var(--color-one);
  top: 50px;
  height: 100%;
  width: 25px;
  padding: 1em;
  border-right: 1px solid var(--BORDER-COLOR);
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.dash-outlet-container {
  width: 100vw;
}

.dash-container {
  height: 100vh;
}

.sidebar-hide-btn {
  position: relative;
  top: 75px;
  left: 257px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: height 0.5s, top 0.5s, left 0.25s;
}

.sidebar-hide-btn-hidden {
  position: relative;
  top: 75px;
  left: 15px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
  // background-color: rgb(229, 140, 140);
}

.sidebar-hide-btn-hidden:hover {
  width: 40px;
  height: 40px;
  top: 72.5px;
  left: 12.5px;
}
