.col-align-center {
  text-align: center;
}

.pricing-h1-text {
  color: black;
}

.pricing-h4-text {
  color: black;
}

.pricing-light {
  // min-height: 100vh;
  background-color: var(--color-five);
}

.pricing-dark {
  // min-height: 100vh;
  background-color: var(--color-one);
  color: white;
}

.pricing-table-col {
  border: rgb(211, 211, 211) solid 1px;
  padding-top: 0.5em;
}

.pricing-table-col-special {
  border: rgb(0, 208, 255) solid 4px;
}

.spacer-small {
  height: 5vh;
}

.spacer-x-small {
  height: 2vh;
}

.input-container {
  width: 100%;
}
