.public-light {
  background-color: var(--color-five);
}

.public-dark {
  background-color: var(--BG-BODY-DARK);
}

.hamburger-icon {
  transition: background-color 2s ease 0s, height 2s, width 2s, display 2s;
  opacity: 0.9;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 25%;
}

.loading-background {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 769px) {
  .hero-header-text {
    opacity: 0.95;
    font-family: "Gloock", serif;
    font-size: 8.5em;
    padding-top: 20vh;
    text-shadow: 2.5px 2.5px #0b090a;
  }

  .swipe-up-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10000;
    background-color: #d3d3d3;
    border-radius: 50%;
    opacity: 0.6;
    width: 40px;
    height: 40px;
  }

  .header-spacer {
    width: 100vw;
    position: relative;
    background-color: RGBA(211, 211, 211, 0.7);
  }
}

@media screen and (max-width: 768px) {
  .hero-header-text {
    margin: 0 auto;
    opacity: 0.95;
    font-family: "Gloock", serif;
    font-size: 3em;
    padding-top: 20vh;
    text-shadow: 2.5px 2.5px #0b090a;
  }

  .swipe-up-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10000;
    background-color: #d3d3d3;
    border-radius: 50%;
    opacity: 0.6;
    width: 40px;
    height: 40px;
  }

  .header-spacer {
    width: 100vw;
    position: relative;
    background-color: RGBA(211, 211, 211, 0.7);
  }
}
