.customer-gallery {
  position: relative;
  background-color: var(--color-four);
}

@media screen and (min-width: 769px) {
  .customer-header-text {
    font-family: "Gloock", sans-serif;
    font-size: 6em;
  }

  .customer-icon {
    width: 250px;
    padding-top: 5em;
  }

  .customer-gallery-container {
    width: 90vw;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .customer-header-text {
    font-family: "Cabin", sans-serif;
    font-size: 1.5em;
  }

  .customer-icon {
    margin: 0 auto;
    width: 100px;
    padding-top: 5em;
  }

  .customer-gallery-container {
    width: 90vw !important;
  }
}
