.customer-gallery {
  position: relative;
  z-index: 1;
  background-color: var(--color-four);
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .customer-header-text {
    font-family: "Cabin", sans-serif;
    font-size: 5em;
  }

  .customer-icon {
    width: 400px;
    padding-top: 5em;
  }

  .customer-gallery-container {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .customer-header-text {
    font-family: "Cabin", sans-serif;
    font-size: 1.5em;
  }

  .customer-icon {
    margin: 0 auto;
    width: 100px;
    padding-top: 5em;
  }

  .customer-gallery-container {
    width: 90vw !important;
  }
}
