@media screen and (min-width: 769px) {
  .landing-two {
    padding: 0;
    margin: 0;
  }

  .cube-one {
    height: 75vh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 2.5vh;
  }

  .landing-one-row {
    width: 100vw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text-light {
    color: black;
  }

  .landing-one-text-dark {
    color: rgb(255, 255, 255);
  }

  .landing-one {
    min-height: 80vh;
    width: 100vw;
    padding: 0;
  }

  .spacer_small {
    height: 5vh;
  }

  .spacer_medium {
    height: 20vh;
  }

  .spacer {
    height: 15vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }

  .landing-header-1-inline {
    font-size: 7.25rem;
    font-family: "Figtree", sans-serif;
  }

  .landing-header-1 {
    font-family: "Gloock", serif;
    font-size: 4rem;
  }

  .landing-header-2 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: "Figtree", sans-serif;
  }

  .landing-header-3 {
    font-size: 2.75em;
    font-family: "Figtree", sans-serif;
    padding-bottom: 1em;
  }

  .landing-one-image-light {
    border: var(--color-five) solid 2px;
  }

  .landing-one-image-dark {
    border: white solid 2px;
  }

  .btn-signup-light {
    background-color: var(--color-three);
    border: var(--color-three) solid 1px;
  }

  .btn-signup-light:hover {
    background-color: white;
  }

  .btn-signup-dark:hover {
    background-color: var(--color-three);
    border: white solid 1px;
  }
}

@media screen and (max-width: 768px) {
  .landing-two {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .cube-one {
    height: 75vh;
    background-color: rgba(42, 157, 143, 0.8);
    padding: 0;
    margin: 0;
  }

  .cube-two {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-three {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .cube-four {
    height: 75vh;
    padding: 0;
    margin: 0;
    background-color: #e9c46a;
  }

  .landing-spacer {
    height: 5vh;
  }

  .landing-one-row {
    width: 100vw;
    height: 300px;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .landing-one-text {
    color: black;
  }

  .spacer_small {
    height: 2.5vh;
    // min-height: 50px;
  }

  .spacer_medium {
    height: 15vh;
    min-height: 50px;
  }

  .landing-one {
    width: 100vw;
    padding: 0;
    height: 100%;
  }

  .landing_container {
    background-color: #161a1d;
  }

  .spacer {
    // height: 5vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    left: -10vw;
    position: relative;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 0.75em;
  }

  .landing-header-1-inline {
    display: inline-block;
    font-size: 2rem;
    font-family: "Gloock", serif;
  }

  .landing-header-2 {
    font-size: 1.125em;
    padding-top: 1em;
    font-family: "Figtree", sans-serif;
  }

  .landing-header-3 {
    display: inline-block;
    font-size: 2em;
    padding-bottom: 1em;
    text-align: center;
    font-family: "Figtree", sans-serif;
  }

  .landing-one-image {
    padding-top: 15px;
    padding-left: 1vw;
    position: absolute;
    object-fit: cover;
    width: 90vw;

    border-radius: 0.5em;
  }

  .landing_one_row {
    min-height: 250px;
  }
}
