.landing-two {
  padding: 0;
  margin: 0;
}

.cube-one {
  height: 75vh;
  background-color: grey;
  padding: 0;
  margin: 0;
}

.cube-two {
  height: 75vh;
  padding: 0;
  margin: 0;
  background-color: white;
}

.landing-one-text {
  color: black;
}

.landing-spacer {
  height: 2.5vh;
}

.landing-one-image {
  height: 150px;
  width: 100%;
}

.landing-one-row {
  width: 100vw;
  height: 300px;
}

@media screen and (min-width: 769px) {
  .landing-one {
    width: 100vw;
    background-color: RGBA(211, 211, 211, 0.7);
    padding: 0;
  }

  .spacer {
    height: 20vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
    width: 800px;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 1.25em;
  }

  .landing-header {
    font-size: 3em;
  }
}

@media screen and (max-width: 768px) {
  .landing-one {
    width: 100vw;
    background-color: RGBA(211, 211, 211, 0.7);
    padding: 0;
  }

  .landing_container {
    background-color: #161a1d;
  }

  .spacer {
    height: 5vh;
  }

  .spacer_large {
    height: 100vh;
  }

  .business-metrics {
    margin: 0 auto;
  }

  .landing-text-container {
    width: 90vw;
  }

  .landing-paragraph {
    font-size: 0.75em;
  }

  .landing-header {
    font-size: 1.5em;
  }
}
