.header_container {
  width: 100vw;
  height: 10vh;
}

.header_text {
  color: red;
  font-size: 5em;
}

.header_icon {
  width: 45px;
  height: 45px;
}

.navbar-brand {
  padding: 0px;
}

.navbar_container {
  min-width: 95vw;
}
