.login-footer-light {
  position: relative;
  width: 100vw;
  background-color: white;
}

.login-footer-dark {
  position: relative;
  width: 100vw;
  background-color: black;
}

.social-container {
  width: fit-content;
  margin: 0 auto;
}

.spacer-footer {
  height: 5vh;
}

.social-icon {
  margin: 1em;
}
